*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.project-iframe {
  width: 100%;
  height: 50vh;   /* full viewport height */
  margin: 30px;
  border-radius: 10px;
  border: none;      /* remove default iframe border */
  outline: none;     /* extra safety for some browsers */
  display: block;
}