@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background: #333;
}

.split {
  position: absolute;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.split.split.left::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--left-bg);
}

.split.left {
  left: 0;
  background: url('./assets/images/ps5.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.split.right {
  right: 0;
  background: url('./assets/images/xbox.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
